form{
    width: 100px;
}

div{
    display: flex;
    justify-content: center;
    border-style: outset;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    font-family: fantasy;
}
#men{
    width: 200%;
    height: 20%;
    resize: none;
}
